.featuredPartnerCard {
	flex: 1;
	margin: 0px 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 15vw;

	-webkit-box-shadow: -1px 0px 17px -3px #c0bdbf;
	box-shadow: -1px 0px 17px -3px #94b7ec;

	.partnerShowImg {
		width: 50%;
		height: 50%;
		border-radius: 100px;
		object-fit: cover;
	}
	h2 {
		font-weight: 200;
		font-size: 22px;
		margin: 0px;
	}
	label {
		margin-top: 0px;
		font-size: 16px;
	}
	.featuredAppointment {
		font-weight: 300;
	}

	.updateButton {
		.partnerUpdateButton {
			border-radius: 5px;
			border: none;
			padding: 5px;
			cursor: pointer;
			background-color: rgb(57, 57, 211);
			color: white;
			font-weight: 600;

			.partnerUpdateIcon {
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
}
