.adminSidebar {
	width: 20vw;
	background-color: #47597e;
	height: 100vh;
	text-decoration: none;
	padding: 10px;
	border-top-right-radius: 12px;
	.sidebarTitle {
		color: #dbe6fd;
		font-size: 27px;
		margin-top: 6vh;
		margin-bottom: 6vh;
	}

	ul {
		list-style-type: none;
		padding: 0 0;
	}
	li {
		color: white;
		font-size: 12px;
		width: 100%;
		margin: 2vh 0px;
		padding: 15px 0px;
		border-bottom: 0.5px solid #bdbdbd;
		align-items: center;
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		outline: none;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		h2 {
			font-weight: 100;
		}
	}
	ul :hover {
		background-color: #293b5f;
		cursor: pointer;
	}

	.sidebar {
		width: 10vw;
	}
}
