.adminHome {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.mainSection {
	display: flex;
	flex-direction: row;
}
.adminMainPannelContainer {
	margin-top: 2vh;
	margin-left: 1vw;
}
.partnerOverview {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.featuredItem {
	flex: 1;
	margin: 0px 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-box-shadow: -1px 0px 17px -3px #c0bdbf;
	box-shadow: -1px 0px 17px -3px #94b7ec;
}

.featuredTitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
}

.featuredPartnerContainer {
	margin: 10px 0px;
	display: flex;
	align-items: center;
}

.featuredPartner {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	font-weight: 600;
}

h1 {
	margin-top: 20px;
	font-family: "Source Sans Pro", sans-serif;
	margin-left: 10px;
}

.partnerList {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
