.home {
	display: flex;
	flex-direction: column;
}
.featured {
	display: inline-flex;
	flex-direction: row;
}
.dashboardContainer {
	margin-top: 2vh;
	width: 80vw;
	span {
		color: black;
	}
}
h2 {
	margin: 2vh 2vw 2vh;
}

.patientOverview {
	display: flex;
	flex-direction: row;
}

.featuredItem {
	flex: 1;
	margin: 0px 20px;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-box-shadow: -1px 0px 17px -3px #c0bdbf;
	box-shadow: -1px 0px 17px -3px #94b7ec;
}

.featuredTitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
}

.featuredPatientContainer {
	margin: 10px 0px;
	display: flex;
	align-items: center;
}

.featuredPatient {
	font-size: 20px;
	font-weight: 600;
}

h1 {
	margin-top: 20px;
	margin-left: 10px;
}

.patientList {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
