.newPatientForm {
	display: flex;
	flex-wrap: wrap;
}
.section {
	display: flex;
	flex-direction: row;
}
.mainPannelContainer {
	display: flex;
	flex-direction: column;
	margin-left: 5vw;
}
.newPatientItem {
	width: 400px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-right: 20px;
}
.newPatientItem > label {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	color: rgb(153, 148, 148);
}
.newPatientItem > input {
	height: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
}
.newPatientGender > input {
	margin-top: 15px;
}
.newPatientGender > label {
	margin: 10px;
	font-size: 18px;
	color: #555;
}
.newPatientSelect {
	height: 40px;
	border-radius: 5px;
}
.newPatientButton {
	width: 200px;
	border: none;
	background-color: rgb(57, 57, 211);
	color: white;
	padding: 7px 10px;
	font-weight: 600;
	border-radius: 10px;
	margin-top: 30px;
	cursor: pointer;
}
