.sidebar {
	flex: 1;
	height: 120vh;
	width: 20vw;
	background-color: #557a95;
	position: sticky;
	z-index: 2;
}
.mainPannelContainer {
	display: flex;
	flex-direction: column;
	width: 80vw;
}

.sidebarWrapper {
	padding: 20px;
}

.sidebarMenu {
	margin-bottom: 10px;
}

.sidebarTitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: rgb(63, 63, 63);
}

.sidebarList {
	list-style: none;
	padding: 5px;
}

.sidebarListItem {
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
	margin-top: 1vh;

	Link,
	Link:hover {
		text-decoration: none;
	}
}

.sidebarListItem.active,
.sidebarListItem:hover {
	background-color: rgb(49, 70, 192);
}

.sidebarIcon {
	font-family: "Source Sans Pro", sans-serif;
	margin-right: 5px;
	font-size: 20px !important;
}
li {
	color: #bdbdbd;
}
