.patientTitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mainSection {
	display: flex;
	flex-direction: row;
}

.patientEditButton {
	width: 80px;
	border: none;
	padding: 5px;
	background-color: rgba(155, 155, 255, 0.733);
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	margin-left: 90%;
}

.patientContainer {
	display: flex;
	margin-top: 20px;
	margin-left: 5vw;
}

.patientShow {
	flex: 1;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 15px -10px rgba($color: #000000, $alpha: 1);
	padding: 20px;
	margin-right: 20px;
	width: 60vw;
}

.patientUpdate {
	flex: 2;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 15px -10px rgba($color: #000000, $alpha: 1);
}

.patientShowTop {
	display: flex;
	align-items: center;
}

.patientShowImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.patientShowTopTitle {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.patientShowPatientname {
	font-weight: 600;
}

.patientShowPatientTitle {
	font-weight: 300;
}

.patientShowBottom {
	margin-top: 7vh;
	display: flex;
	flex-wrap: wrap;
}

.patientShowTitle {
	font-size: 14px;
	font-weight: 600;
	color: rgb(173, 170, 170);
	margin: 0px 3vw 3vh 0px;
	width: 100%;
}

.patientShowInfo {
	display: flex;
	align-items: center;
	margin: 2vh 1vw;
	color: #444;
	min-width: 10vw;
	width: fit-content;
	height: fit-content;
}

.patientShowIcon {
	font-size: 10 !important;
}

.patientShowInfoTitle {
	margin-left: 10px;
}
.patientUpdateLeft {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: fit-content;
}

.patientUpdateImg {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 20px;
}

.patientUpdateForm {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.patientUpdateItem {
	display: flex;
	flex-direction: column;
	margin: 1vh 2vw;
	label {
		font-size: 22px;
	}
	input {
		color: #8b8b8b;
	}
}

.patientUpdateItem > label {
	margin-bottom: 5px;
	font-size: 14px;
}

.patientUpdateInput {
	border: none;
	width: 250px;
	height: 30px;
	border-bottom: 1px solid gray;
}

.patientUpdateRight {
}

.patientUpdateUpload {
	align-items: center;
}

.patientUpdateTitle {
	font-size: 24px;
	font-weight: 600;
}

.patientUpdateIcon {
	cursor: pointer;
}

.patientUpdateButton {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: rgba(155, 155, 255, 0.733);
	color: black;
	font-weight: 100;
	margin-left: 80%;
	margin-top: 2vh;
	padding: 10px;
}
