#ops {
	position: absolute;
	top: 130vh;
	left: 5vw;
}
#ops button {
	background: none;
	border: none;
	font-size: 12px;
	font-family: "Quicksand";
	color: white;
	cursor: pointer;
	padding: 2px;
	display: flex;
	flex-direction: row;
	margin-top: 3px;
}

#slicePannel {
	display: none;
}
#slicePannel label {
	font-size: 12px;
}
.slicePlaneWrapper {
	display: inline-flex;
	flex-direction: column;
}
.row {
	display: inline-flex;
	flex-direction: row;
	margin-left: 40%;
}
label {
	color: white;
	width: 100%;
	padding: 3px;
	margin-left: 3px;
	margin-bottom: 5px;
}
#slicePannel span {
	color: white;
	font-size: 16px;
	cursor: pointer;
}
#confirmSlice {
	margin-top: 15px;
	margin-left: 10px;
}

#fit {
	width: 5vw;
}
#prompt {
	position: absolute;
	top: 190vh;
	left: 8vw;
}
#status {
	color: white;
	font-size: 20px;
	font-family: "Quicksand";
}

#axisGuide {
	position: absolute;
	top: 195vh;
	left: 5vw;
	display: inline-flex;
	flex-direction: row;
	color: white;
}
#axisGuide h1 {
	font-size: 12px;
	font-family: "Quicksand";
	padding: 2px;
	margin: 1vw;
}
#z {
	color: #c0392b;
}
#x {
	color: #3498db;
}
#y {
	color: #27ae60;
}
