.partner {
    flex: 4;
    padding: 20px;

    .partnerUpdate {
        flex: 2;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 15px -10px rgba($color: #000000, $alpha: 1.0);
        padding: 20px;
        margin-left: 10px;
        display: flex;
        justify-content:space-between;

        .partnerUpdateTitle {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            font-weight: 600;
            position: absolute;
            margin-bottom: 10px;
        }

        .partnerUpdateForm {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            flex-direction: column;

            .partnerUpdateItem {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                font-family: 'Source Sans Pro', sans-serif;

                label {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 600;
                    margin-bottom: 5px;
                    font-size: 14px;
                }

                .partnerUpdateInput {
                    border: none;
                    width: 250px;
                    height: 30px;
                    border-bottom: 1px solid gray;
                    font-family: 'Source Sans Pro', sans-serif;
                }
            }

        }

        .partnerUpdateUpload {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .partnerUpdateImg {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                object-fit: cover;
                margin-right: 20px;
            }

            .partnerUpdateButton {
                align-items: center;
                border-radius: 5px;
                border: none;
                padding: 5px;
                height: 5vh;
                cursor: pointer;
                background-color: rgb(57, 57, 211);
                color: white;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}